html, body {
  font-family: sans-serif;
  background: #333;
  color: #FFF;
}

nav, .content, footer {
  max-width: 960px;
  margin: 0 auto;
}

nav a.brand {
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  background-image: url(../img/terrable-logo.png);
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1.5em;
}

a {
  color: #FFF;
}

a:visited, a:active {
  color: #DDD;
}

code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  background: #EEE;
  color: #222;
}

footer {
  padding: .5em;
  text-align: right;
  font-size: .8em;
}
