extends: layout.html
title: "Terrable API"
---
<h1>API</h1>
<p>The API will use terraform output to build HTTP responses</p>

<h3>Building a freaking API</h3>
<p>This endpoint is running at <a href="https://api.terrable.work/v1/hello">https://api.terrable.work/v1/hello</a>. Give it a try!</p>
<code>
module "req" {
  source  = "../http-request"
  http    = var.http
  headers = var.headers
  payload = var.payload
}

locals {
  # Accept either the JSON "name" field or the name parameter
  name = module.req.json != null ? lookup(module.req.json, "name", var.default) : lookup(module.req.params, "name", var.default)
}

module "res" {
  source          = "../http-response"
  content         = { message = "Hello, $${local.name}!" }
}

output "response" {
  value = module.res.response
}
</code>
<h3>Run the Hello API</h3>
<code>git clone https://gitlab.com/jonathanbaugh/terrable.git
docker-compose up
</code>

<h3>Make a Request</h3>
<code>$ curl http://localhost:8000/?name=Jonathan
{"message":"Hello, Jonathan!"}
</code>

<h2>The Components</h2>
<h3>The HTTP Request Module</h3>
<p>The <a href="https://gitlab.com/jonathanbaugh/terrable/-/tree/master/src/http-request">http-request module</a> makes it easier to deal with incoming HTTP requests.</p>
<code>variable "http" {}
variable "headers" {}
variable "pathload" {}

module "req" {
  source  = "../http-request"
  http    = var.http
  headers = var.headers
  payload = var.payload
}

output "response" {
  value = module.res.response
}
</code>

<h3>The HTTP Response Module</h3>
<p>The <a href="https://gitlab.com/jonathanbaugh/terrable/-/tree/master/src/http-response">http-response module</a> makes it easier to build your HTTP response.</p>
<code>module "res" {
  source = "path/to/http-response"
  content = { message = "Hello World!" }
}

output "response" {
  value = module.res.response
}
</code>
