extends: layout.html
title: This is Terrable!
---
<h1>This is Terrable!</h1>
<p>This site was generated with vanilla Terraform. Check out the source at <a href="https://gitlab.com/jonathanbaugh/terrable/">GitLab</a>.</p>

<h3>Sample Layout</h3>
<code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;title&gt;$${ meta.title }&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;css/main.css&quot; /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;nav&gt;
  &lt;a href=&quot;/&quot; class=&quot;brand&quot;&gt;Terrable&lt;/a&gt; |
  &lt;a href=&quot;rules.html&quot;&gt;Rules&lt;/a&gt; |
  &lt;a href=&quot;https://gitlab.com/jonathanbaugh/terrable&quot;&gt;Source&lt;/a&gt;
&lt;/nav&gt;
$${ content }
&lt;/body&gt;
&lt;/html&gt;</code>

<h3>Sample Page</h3>
<code>extends: layout.html
title: This is a test page
&dash;&dash;&dash;
&lt;h1&gt;Welcome to the test page!&lt;/h1&gt;</code>

<h3>Watch</h3>
<code>$ watch --color terraform apply -auto-approve</code>