extends: layout.html
title: Terrable Rules
---
<h1>Rules</h1>
<ol>
    <li>No programming languages. Only HCL, YAML, HTML, and CSS.</li>
    <li>No SaaS solutions outside of vanilla providers.</li>
    <li>No use of third party libraries or frameworks.</li>
</ol>